.title {
    margin: 5px 0;
    font-family: var(--font-titles);
    color: var(--primary-fg);
    &.big {
        font-size: 2em;
    }
}

.description {
    font-weight: 400;
    color: var(--secondary-fg);
    font-size: 1.15rem !important;

    &.small {
        font-family: var(--font);
        font-size: 1rem;
    }
    &.nomargin {
        margin: 0;
    }
}

.special {
    color: var(--accent-color);
}
