.main {
    position: fixed;
    bottom: 0;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    display: none;
    margin: auto;
    z-index: 100000;
    & .bg {
        background-color: var(--primary-bg);
        box-shadow: 0px 0px 9px var(--accent-light);
        color: var(--primary-fg);
        border-radius: var(--global-border-radius);
        & .content {
            padding: 25px;
            & h3 {
                margin: 0;
            }
            & p {
                margin: 0;
                margin-top: 10px;
                & a {
                    color: var(--accent-light);
                }
            }
            & button {
                margin-top: 20px;
                cursor: pointer;
                color: var(--form-fg);
                transition: var(--transition);
                background-color: var(--form-bg);
                font-family: var(--font);
                border: 0;
                padding: 3px 20px;
                font-size: 0.9rem;
                border-radius: var(--global-border-radius);
                &:hover {
                    background-color: var(--form-bg-hover);
                }
            }
        }
    }
}
