.fullscreenform,
.overview {
    position: absolute;
    backdrop-filter: blur(var(--default-bg-blur));
    background: hsla(0, 0%, 10%, 0.546);
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
    width: 100%;
    height: 100%;
    & .contentbox {
        text-align: left;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 700px;
        max-height: 70%;
        overflow: auto;

        background-color: var(--secondary-bg);
        border-radius: var(--global-border-radius);
        padding: 30px 20px;

        max-width: 600px;

        @media screen and (max-width: 600px) {
            max-width: none;
            width: 100%;
            max-height: 80%;
        }
    }

    & .close {
        transform: translateY(20%);
        float: right;
        padding: 1px;
        font-size: 1.2rem;
        border-radius: var(--global-border-radius);
        color: var(--form-icon);
        cursor: pointer;
    }
}
