.main {
    height: 100vh;
    min-height: 600px;
    padding: 0 var(--section-horizontal-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--landing-bg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: var(--primary-fg);

    .content {
        width: var(--basewidth);
        max-width: var(--maximum-content-width);
        margin: 0 auto;
        color: var(--landing-fg);

        & h1 {
            animation: 250ms ease up;
            &.withname {
                overflow: hidden;
                width: 50vw;
                text-overflow: ellipsis;
                & span {
                    color: var(--landing-title-special);
                }
            }
        }

        & p,
        ul {
            animation: 350ms ease up;
            list-style-type: disc;
        }

        & .button {
            margin-top: 50px;
            animation: 450ms ease up;
        }
    }
}

@keyframes up {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.button {
    display: flex;
    gap: 8px;

    font-size: 1rem;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-family: var(--font);
    border: 0;
    transition: var(--transition);
    padding: 3px 20px;
    border-radius: var(--global-border-radius);
    color: var(--form-fg);
    background-color: var(--form-bg);

    &:hover {
        background: var(--form-bg-hover);
    }
    &.primary {
        background-color: var(--form-primary);
        color: var(--form-primary-fg);
        & svg {
            color: var(--form-primary-icon);
            max-width: 15px;
        }
        &:hover {
            background-color: var(--form-primary-hover);
        }
        &.critical {
            cursor: default;
            background-color: var(--form-bg);
            color: var(--form-fg);
        }
    }
}
.overlayheader {
    margin-bottom: 30px;
    & h3 {
        color: var(--primary-fg);
        margin: 0;
    }
    & p {
        font-size: 1rem;
    }
}
.form {
    & .password {
        padding: 5px 10px;
        color: var(--form-fg);
        width: 100%;
        outline: 0;
        font-size: 1rem;
        border: 0;
        background-color: var(--form-bg);
        border-radius: var(--global-border-radius);
    }
}
