// Set variables
:root {
    // General
    --transition: 150ms cubic-bezier(0.25, 0.5, 0.25, 1);
    --font: Mukta, Cantarell, "Open Sans", sans-serif;
    --font-title: Sen, var(--font);
    --font-titles: var(--font);
    --maximum-content-width: 950px;
    --global-border-radius: 8px;
    --default-bg-blur: 4px;
    --basewidth: 90%;
    --section-horizontal-padding: 20px;

    @media screen and (min-width: 1400px) {
        --maximum-content-width: 1200px;
    }

    // Colors
    --tint: 140;
    --accent-color: hsl(var(--tint), 32%, 17%);
    --accent-light: hsl(var(--tint), 32%, 60%);

    --critical: hsl(var(--tint), 23%, 25%);
    --critical-hover: hsl(var(--tint), 23%, 15%);
    --critical-fg: hsl(var(--tint), 23%, 70%);
    --critical-icon: hsl(var(--tint), 23%, 35%);
    --critical-button: hsl(var(--tint), 23%, 35%);
    --critical-button-hover: hsl(var(--tint), 23%, 45%);

    --gradient-start: hsl(var(--tint), 43%, 83%);
    --gradient-stop: hsl(calc(var(--tint) + 50), 33%, 83%);

    --landing-bg: hsl(var(--tint), 30%, 80%);
    --landing-bg-alt: hsl(var(--tint), 20%, 10%);

    --landing-title: hsl(var(--tint), 33%, 20%);
    --landing-title-dark: hsl(var(--tint), 20%, 70%);
    --landing-title-dark-leipa: hsl(var(--tint), 10%, 50%);
    --landing-fg: hsla(0, 0%, 0%, 0.859);
    --landing-form-bg: hsl(var(--tint), 0%, 100%);
    --landing-form-bg-hover: hsl(var(--tint), 0%, 90%);
    --landing-form-icon: hsl(var(--tint), 47%, 10%);
    --landing-form-fg: hsl(var(--tint), 33%, 30%);

    --primary-bg: hsl(0, 0%, 95%);
    --primary-fg: hsl(0, 0%, 7%);
    --secondary-bg: hsl(0, 0%, 93%);
    --secondary-fg: hsl(0, 0%, 21%);
    --bar-bg: hsla(0, 0%, 100%, 0.8);
    --bar-fg: hsl(0, 0%, 0%);
    --bar-fg-hover: hsl(0, 0%, 50%);
    --bar-icon: var(--bar-fg);
    --list-identifier: hsla(0, 0%, 0%, 0.3);

    --inverted-bg: hsl(0, 0%, 8%);
    --inverted-fg: hsl(0, 0%, 93%);
    --inverted-bg-hover: hsl(0, 0%, 36%);

    --positive-icon: hsl(120, 33%, 45%);
    --negative-icon: hsl(0, 58%, 58%);
    --neutral-icon: var(--widget-secondary-bg);

    --form-bg: hsl(0, 0%, 88%);
    --form-bg-alt: hsl(0, 0%, 70%);
    --form-fg: hsl(0, 0%, 0%);
    --form-fg-alt: hsl(0, 0%, 54%);
    --form-disabled-bg: hsl(0, 0%, 80%);
    --form-disabled-fg: hsl(0, 0%, 72%);
    --form-disabled-img: hsl(0, 0%, 67%);
    --form-bg-hover: hsl(0, 0%, 80%);
    --form-bg-selected: hsl(0, 0%, 20%);
    --form-icon: hsl(0, 0%, 62%);

    --form-primary: hsl(var(--tint), 29%, 36%);
    --form-primary-fg: hsl(0, 0%, 88%);
    --form-primary-icon: hsl(var(--tint), 20%, 88%);
    --form-primary-hover: hsl(var(--tint), 29%, 46%);
    --form-primary-disabled: hsl(var(--tint), 29%, 26%);

    --footer-bg: hsl(0, 0%, 90%);
    --footer-fg: hsl(0, 0%, 10%);
    --footer-fg-hover: hsl(0, 0%, 90%);
    --footer-link-mail: hsl(219, 47%, 32%);

    --link-fg: hsl(231, 37%, 26%);

    --widget-primary-bg: hsl(0, 0%, 91%);
    --widget-primary-bg-hover: hsl(0, 0%, 71%);
    --widget-secondary-bg: hsl(0, 0%, 83%);
    --widget-primary-fg: hsl(0, 0%, 13%);

    // Switch colors from light when user prefers dark color scheme
    @media screen and (max-width: 700px) {
        --basewidth: 95%;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    transition: var(--transition);
    padding: 0;
    margin: 0;
    font-family: var(--font);

    animation: 200ms ease fadein;
}

a {
    transition: var(--transition);
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: dashed;
    }
}

input {
    font-family: var(--font);
}

.spinner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
        padding: 2px 0;
        animation: 1.2s infinite var(--transition) spinner;
    }
    &.light svg {
        color: var(--inverted-bg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
    }
    100% {
        opacity: 1;
    }
}

::selection,
::-moz-selection {
    color: var(--accent-light);
    background-color: hsla(var(--tint), 10%, 58%, 0.253);
}

@font-face {
    font-family: Mukta;
    src: url(/assets/fonts/mukta/Mukta-Regular.ttf);
}

@font-face {
    font-family: Sen;
    src: url(/assets/fonts/dm-sans/DMSans-Regular.ttf);
}
