.landing {
    height: 100vh;
    max-height: 1300px;
    min-height: 700px;
    background: var(--landing-bg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: var(--landing-fg);
    position: relative;

    @media screen and (max-width: 700px) {
        height: auto;
        padding: 150px 0 150px;
    }

    @media screen and (max-height: 700px) {
        height: auto;
        padding: 150px 0 150px;
    }

    & .centerContainer {
        width: var(--basewidth);
        height: 100%;
        max-width: var(--maximum-content-width);

        display: flex;
        flex-direction: column;

        padding: 20px var(--section-horizontal-padding);
        gap: 80px;

        margin: auto;
        justify-content: center;

        @media screen and (max-width: 900px) {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 40px;
        }
        & .header {
            width: 100%;
            height: fit-content;
            color: var(--landing-fg);
            & h1 {
                animation: 350ms var(--transition) popup;
                color: var(--landing-title);
                font-family: var(--font-title);
                font-size: 2.5rem;
                width: 100%;
                color: var(--landing-title-withspecial);
                & span.special {
                    color: var(--landing-title-special);
                }
                @media screen and (min-width: 1400px) {
                    font-size: 2.6rem;
                }
                @media screen and (max-width: 900px) {
                    font-size: 2rem;
                }
                @media screen and (max-width: 600px) {
                    font-size: 1.5rem;
                }
            }

            & h2 {
                font-weight: 400;
                font-size: 2rem;
                animation: 400ms var(--transition) popup;
                @media screen and (max-width: 1400px) {
                    font-size: 1.3rem;
                }
            }
            @media screen and (min-width: 1400px) {
                width: 800px;
            }
            @media screen and (max-width: 800px) {
                width: 90%;
            }
        }

        & .uploadContainer {
            position: relative;
            animation: 550ms var(--transition) popup;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: left;
            transition: var(--transition);

            & a {
                margin: 0 10px;
                color: var(--accent-light) !important;
            }

            & .warning {
                color: var(--primary-fg);
                margin: 5px 0 0;
            }

            // General types for buttons
            & .buttons {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;

                & .icons {
                    display: flex;
                    margin-right: 10px;

                    & .icon {
                        border: 0;
                        background-color: transparent;
                        cursor: pointer;
                        transition: var(--transition);
                        color: var(--form-icon);
                        width: 40px;

                        & svg {
                            height: 80%;
                            width: 80%;
                        }

                        &:hover {
                            color: var(--form-icon-hover);
                        }
                    }
                }

                & .button {
                    padding: 3px 12px;
                    background-color: transparent;

                    &:hover,
                    .disabled {
                        background: var(--form-bg-hover);
                    }
                    &.primary {
                        color: var(--form-primary-fg);
                        background-color: var(--form-primary);
                        & svg {
                            color: var(--form-primary-icon);
                            margin-left: 7px;
                            font-size: 0.8rem;
                        }
                        &:hover {
                            background-color: var(--form-primary-hover);
                        }
                        &.disabled {
                            background-color: var(--form-primary-disabled);
                        }
                    }
                }
            }

            & .finished {
                padding: 5px;
                color: var(--form-fg-alt);

                & .manualcopylink {
                    width: 100%;
                    transition: var(--transition);
                    margin: 0;
                    padding: 5px 10px;
                    background: var(--form-bg);
                    color: var(--form-fg);
                    font-family: var(--font);
                    border: 0;
                    outline: 0;
                    border-radius: var(--global-border-radius);
                }

                & .buttons {
                    margin-top: 40px;
                }

                &.critical {
                    color: var(--critical-fg);
                    & p {
                        color: var(--critical-fg-alt);
                    }
                    & .button {
                        transition: var(--transition);
                        background-color: var(--critical-button);
                        color: var(--critical-fg);
                        &:hover {
                            background-color: var(--critical-button-hover);
                        }
                    }
                }
            }

            & .fileContainer {
                display: flex;
                flex-direction: column;
                gap: 6px;
                width: auto;
                height: 100%;

                & .tosnt {
                    margin: 20px 0 0;
                    font-size: 0.9rem;
                    color: var(--secondary-fg);
                    & a {
                        margin: 0;
                    }
                }
                & .fileInfo {
                    background: var(--form-bg);
                    color: var(--form-fg);
                    padding: 5px 10px;
                    transition: var(--transition);
                    border-radius: var(--global-border-radius);
                    text-align: left;
                    display: flex;
                    align-items: center;
                    gap: 9px;

                    &.disabled svg.close {
                        display: none;
                    }

                    & .filename {
                        margin-right: auto;
                    }

                    & .size {
                        color: var(--form-fg-alt);
                        padding: 0px 8px;
                    }

                    & svg {
                        color: var(--form-icon);
                        font-size: 0.9rem;
                    }

                    & .close {
                        cursor: pointer;
                    }
                }

                & .buttons {
                    bottom: 0;
                }
            }

            & .fileUpload {
                background-color: var(--landing-form-bg);
                transition: var(--transition);
                max-width: 600px;
                min-width: 300px;
                height: 100%;

                border-radius: var(--global-border-radius);
                padding: 20px 15px;

                &.waiting {
                    cursor: pointer;
                    padding: 30px 30px;
                    @media screen and (min-width: 800px) {
                        padding: 70px 50px;
                    }

                    &:hover {
                        background-color: var(--landing-form-bg-hover);
                    }

                    & .uploadDescription {
                        color: var(--secondary-fg);
                        text-align: center;
                        margin: 0;
                        font-size: 1.2em;
                        font-weight: 400;
                        color: var(--landing-form-fg);
                    }

                    & .loadicon {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 10px;
                        margin: 3px 0;

                        & svg {
                            font-size: 3.8rem;
                            color: var(--landing-form-icon);
                        }
                    }
                    @media screen and (max-width: 800px) {
                        & .uploadDescription {
                            font-size: 1.15rem;
                        }
                        & .loadicon svg {
                            font-size: 3rem;
                        }
                    }
                    @media screen and (max-width: 600px) {
                        & .uploadDescription {
                            font-size: 1rem;
                        }
                        & .loadicon svg {
                            font-size: 2rem;
                        }
                    }

                    &.critical {
                        & .uploadDescription {
                            color: var(--critical-fg);
                            text-align: center;
                            margin: 0;
                        }

                        & .loadicon svg {
                            color: var(--critical-icon);
                        }
                    }
                }

                &.critical {
                    cursor: default;
                    background: var(--critical);
                    color: var(--critical-fg);

                    & h3 {
                        color: var(--critical-fg);
                    }
                    &:hover {
                        background: var(--critical);
                    }
                }

                & input[type="file"] {
                    display: none;
                }

                @media screen and (max-width: 700px) {
                    padding: 10px 10px;

                    & .fileDescription {
                        font-size: 1rem;
                    }
                }
            }
            @media screen and (max-width: 600px) {
                max-width: none;
                & .fileUpload .fileDescription {
                    font-size: 1rem;
                }
            }
        }
        @media screen and (max-width: 600px) {
            max-width: none;
            width: 100%;
        }
    }
}

.button {
    font-family: var(--font);
    font-size: 1rem;
    transition: var(--transition);
    border-radius: var(--global-border-radius);
    color: var(--primary-fg);
    cursor: pointer;
    background-color: var(--widget-primary-bg);
    padding: 2px 20px;
    border: 0;

    &:hover {
        background-color: var(--widget-secondary-bg);
    }

    &.disabled {
        background-color: var(--widget-secondary-bg);
        cursor: default;
    }
}

.buttonProcessing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.updown {
    position: relative;
    animation: 1.6s infinite ease updown;
    opacity: 0;

    & svg {
        color: var(--form-icon);
    }
}

@keyframes updown {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-3px);
    }
}

.overview {
    color: var(--form-fg);
    & .contentbox {
        & .settings {
            margin: 30px 0;

            & .inline {
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .status {
                    position: relative;

                    & span {
                        margin-right: 10px;
                    }

                    & svg {
                        transform: translateY(2px);
                    }
                    & .neutral {
                        color: var(--neutral-icon);
                    }

                    & .check {
                        color: var(--positive-icon);
                    }

                    & .times {
                        color: var(--negative-icon);
                    }
                }
            }
        }

        & .inputfields {
            margin-top: 10px;

            & .inputSetting {
                margin: 10px 0;

                & input[type="text"],
                input[type="password"] {
                    width: 100%;
                    border: 0;
                    padding: 8px 10px;
                    font-size: 0.9rem;
                    background: var(--form-bg);
                    color: var(--form-fg);
                    border-radius: var(--global-border-radius);
                    outline: 0;
                    margin: 5px 0;
                }
            }
        }

        & .filesAdvanced {
            transition: var(--transition);
            display: grid;
            padding: 10px 0;

            $gap: 10px;
            grid-template-columns: calc(50% - $gap/2) calc(50% - $gap/2);
            gap: $gap;
            overflow: auto;
            align-content: flex-start;

            height: 100%;
            max-height: 250px;

            @media screen and (max-width: 600px) {
                max-height: 200px;
                gap: 5px;
                grid-template-columns: auto;
            }

            & .file {
                transition: var(--transition);
                display: flex;
                justify-content: left;
                align-items: center;
                border-radius: var(--global-border-radius);
                background: var(--form-bg);
                color: var(--form-fg);
                padding: 10px 10px;

                & .filename {
                    margin: 0 auto 0 0;
                }

                & .size {
                    color: var(--form-fg-alt);
                    padding: 0px 8px;
                }

                & svg {
                    color: var(--form-icon);
                }

                & .fileicon {
                    margin-right: 10px;

                    & svg {
                        transform: translateY(3px);
                    }
                }

                & .close {
                    cursor: pointer;
                    transform: translateY(-2px);
                }

                &.disabled {
                    & .close {
                        display: none;
                    }
                }
            }
        }
    }
}

@keyframes popup {
    0% {
        transform: translateY(20px);
        overflow: hidden;
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        overflow: initial;
        opacity: 1;
    }
}
