.landing {
    height: max(90vh, 400px);
    max-height: 600px;
    background: var(--landing-bg-alt);
    background-size: cover;
    background-position: center;
    position: relative;

    animation: 1200ms ease scaling;

    & .centerContainer {
        width: var(--basewidth);
        max-width: var(--maximum-content-width);
        height: 100%;
        flex-direction: column;

        display: flex;

        padding: 20px var(--section-horizontal-padding);
        gap: 50px;

        margin: auto;
        justify-content: center;
        align-items: center;

        & .header {
            gap: 20px;
            display: flex;
            flex-direction: column;
            color: var(--landing-title-dark);

            & h1 {
                font-size: 1.5rem;
                color: var(--landing-title-dark);
            }

            & p {
                color: var(--landing-title-dark-leipa);
            }
            @media screen and (max-width: 900px) {
                text-align: left;
                flex-direction: column;
                gap: 30px;
            }
        }
    }
}

.highlights {
    width: var(--basewidth);
    padding: 190px var(--section-horizontal-padding) 80px;
    max-width: var(--maximum-content-width);
    margin: auto;

    & .list {
        $gap: 40px;
        position: relative;
        display: grid;
        grid-template-columns: calc(100% / 3 - $gap) calc(100% / 3 - $gap) calc(100% / 3 - $gap);
        margin: 70px 0 40px;
        gap: $gap;

        & .item {
            position: relative;

            & h3,
            p {
                position: relative;
                z-index: 2;
            }

            & svg {
                font-size: 2rem;
                margin-bottom: 10px;
                fill: var(--accent-light);
            }
        }

        @media screen and (max-width: 900px) {
            grid-template-columns: auto auto;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}

.faq {
    width: var(--basewidth);
    padding: 70px var(--section-horizontal-padding) 70px;
    max-width: var(--maximum-content-width);
    margin: auto;

    & .list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;

        @media screen and (max-width: 900px) {
            gap: 20px;
            grid-template-columns: auto auto;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}

.box {
    position: relative;
    margin: 30px auto 30px;
    padding: 0 10px;

    & .boxcontent {
        $additionalWidth: 70px;

        width: 100%;
        max-width: var(--maximum-content-width);
        padding: 25px calc(var(--section-horizontal-padding) + calc($additionalWidth / 2));
        max-width: calc(var(--maximum-content-width) + $additionalWidth);
        border-radius: var(--global-border-radius);
        margin: auto;
        background: hsl(126, 52%, 84%)
            linear-gradient(190deg, var(--gradient-start) 0%, var(--gradient-stop) 100%);

        @media screen and (max-width: 700px) {
            padding: 25px var(--section-horizontal-padding);
        }

        & h1,
        p {
            color: var(--box-fg);
        }

        & .headertitle {
            font-size: 1.7rem;
        }

        & .links {
            margin-top: 45px;
            display: flex;
            gap: 10px;

            .button {
                transition: var(--transition);
                border-radius: 99px;
                color: var(--inverted-fg);
                cursor: pointer;
                font-size: 1rem;
                background-color: var(--inverted-bg);
                padding: 5px 17px;

                &:hover {
                    background-color: var(--inverted-bg-hover);
                }
            }

            @media screen and (max-width: 700px) {
                flex-direction: column;

                & .button {
                    font-size: 1rem;
                    width: fit-content;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        margin: 40px auto 40px;
    }
}

.fullscreenform {
    position: fixed !important;
}

.termscondensed {
    position: relative;
    width: var(--basewidth);
    padding: var(--section-horizontal-padding);
    max-width: var(--maximum-content-width);
    margin: 150px auto 120px;
    color: var(--primary-fg);

    & .content {
        margin-top: 70px;

        $gap: 40px;
        display: grid;
        grid-template-columns: calc(50% - ($gap / 2)) calc(50% - ($gap / 2));
        gap: $gap;

        @media screen and (max-width: 700px) {
            grid-template-columns: auto;
        }

        & .terms {
            $padding: 20px;

            & h2.title {
                margin-left: $padding;
                font-family: var(--font-titles);
            }

            & p.desc,
            ul {
                color: var(--widget-primary-fg);
                background-color: var(--widget-primary-bg);
                border-radius: var(--global-border-radius);
                padding: $padding;
                font-size: 1rem;
            }

            & ul {
                display: grid;
                gap: 10px;
                padding-left: $padding;

                & li {
                    $identifierwidth: 10px;
                    position: relative;
                    list-style-type: none;
                    margin-left: calc($identifierwidth * 2);
                    color: var(--widget-primary-fg);

                    &::before {
                        content: "";
                        position: absolute;
                        padding: 2px calc($identifierwidth / 2);
                        border-radius: var(--global-border-radius);
                        top: 10px;
                        left: 0 - calc($identifierwidth * 1.5 + 5px);
                        background: var(--list-identifier);
                    }
                }
            }

            & .tosnotice {
                color: var(--secondary-fg);
                padding: 0 10px;
            }
        }
    }
}
@keyframes popup {
    0% {
        transform: translateY(90px);
        overflow: hidden;
    }

    100% {
        transform: translateY(0px);
        overflow: initial;
    }
}

@keyframes scaling {
    0% {
        height: 100vh;
        max-height: 100vh;
        background: hsl(0, 0%, 0%);
    }
    40% {
        height: 100vh;
        max-height: 100vh;
        background: hsl(0, 0%, 0%);
    }
    100% {
        height: max(90vh, 400px);
    }
}
