// Set variables
:root {
    // General
    --transition: 100ms cubic-bezier(0.25, 0.5, 0.25, 1);
    --font: 'Mukta', Cantarell, 'Open Sans', sans-serif;
    --font-titles: var(--font);
    --maximum-content-width: 1150px;
    --global-border-radius: 10px;
    --default-bg-blur: 30px;
    --basewidth: 90%;
    
    --section-horizontal-padding: 20px;

    // Colors
    --accent-color: hsl(0, 38%, 31%);

    --tint: 223;
    --critical: hsl(var(--tint), 23%, 25%);
    --critical-hover: hsl(var(--tint), 23%, 15%);
    --critical-fg: hsl(var(--tint), 23%, 80%);
    --critical-icon: hsl(var(--tint), 23%, 35%);

    --gradient-start: hsl(227, 43%, 83%);
    --gradient-stop: hsl(257, 33%, 83%);

    --landing-bg: hsl(223, 40%, 77%);
    --landing-bg-alt: hsl(172, 30%, 69%);
    --landing-title: hsl(213, 33%, 15%);
    --landing-fg: hsl(213, 35%, 29%);
    --primary-bg: hsl(0, 0%, 93%);
    --primary-fg: hsl(0, 0%, 7%);
    --secondary-bg: hsl(0, 0%, 84%);
    --secondary-fg: hsl(0, 0%, 21%);
    --list-identifier: hsl(0, 0%, 44%);

    --inverted-bg: hsl(0, 0%, 8%);
    --inverted-fg: hsl(0, 0%, 93%);
    --inverted-bg-hover: hsl(0, 0%, 36%);

    --positive-icon: hsl(120, 33%, 45%);
    --negative-icon: hsl(0, 58%, 58%);
    --neutral-icon: var(--widget-secondary-bg);

    --form-bg: hsl(0, 0%, 90%);
    --form-fg-alt: hsl(0, 0%, 45%);
    --form-disabled-bg: hsl(0, 0%, 80%);
    --form-disabled-fg: hsl(0, 0%, 72%);
    --form-disabled-img: hsl(0, 0%, 67%);
    --form-bg-hover: hsl(0, 0%, 85%);
    --form-icon: hsl(0, 0%, 72%);

    --form-primary: hsl(245, 59%, 56%);
    --form-primary-fg: hsl(0, 0%, 88%);
    --form-primary-hover: hsl(245, 48%, 46%);
    --form-primary-disabled: hsl(243, 36%, 46%);
    
    --footer-bg: var(--secondary-bg);
    --footer-fg: hsl(0, 0%, 10%);
    --footer-link-mail: hsl(219, 47%, 32%);

    --link-fg: hsl(231, 37%, 26%);

    --widget-primary-bg: hsl(0, 0%, 91%);
    --widget-primary-bg-hover: hsl(0, 0%, 71%);
    --widget-secondary-bg: hsl(0, 0%, 73%);
    --widget-primary-fg: hsl(0, 0%, 13%);


    @media screen and (max-width: 700px) {
        --basewidth: 100%;
    }


    // Switch colors from light when user prefers dark color scheme
    //@media (prefers-color-scheme: dark) {}
}

* {
    box-sizing: border-box;
    color: var(--primaryfg);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    background-color: var(--primary-bg);

    animation: 200ms ease fadein;
}

a {
    position: relative;
    color: inherit;
    text-decoration: none;
    z-index: 2 !important;
}

a.animated {
    position: relative;
    z-index: 2 !important;
    transition: var(--transition);
    text-decoration: none;
    &::before {
        content: "";
        transition: var(--transition);
        position: absolute;
        z-index: -1 !important;
        border-radius: 4px;
        $height: 30px;
        bottom: 0;
        max-height: $height;
        transform: translate(-5px);
        height: 0%;
        width: 100%;
        overflow: hidden;
        padding: 0 5px;
    
        background-color: rgba(0, 0, 0, 0.09);
    }
    &:hover::before {

        height: 100%;
    }
}

input {
    font-family: var(--font);
}

.spinner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
        padding: 2px 0;
        animation: 1.2s infinite var(--transition) spinner;
    }
    &.light svg {
        color: var(--inverted-bg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
    }
    100% {
        opacity: 1;
    }
}

