// Load fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Red+Rose:wght@300;400;500;600;700&display=swap');

// Set variables
:root {
    // General
    --transition: 150ms ease;
    --font: 'Mukta', Cantarell, 'Open Sans', sans-serif;
    --font-titles: 'Red Rose', var(--font);
    --maximum-content-width: 1150px;
    --global-border-radius: 2px;
    
    --section-horizontal-padding: 20px;

    // Colors
    --accent-color: rgb(109, 49, 49);
    
    --primary-bg: #f1f1f1;
    --primary-fg: #111111;
    --secondary-fg: #363636;
    --list-identifier: #6f6f6f;

    --inverted-bg: #141414;
    --inverted-fg: #ededed;
    --inverted-bg-hover: #5d5d5d;

    --form-bg: #e5e5e5;
    --form-bg-hover: #cdcdcd;
    
    --footer-bg: #d8d8d8;
    --footer-fg: rgb(47, 47, 47);
    --footer-link-mail: gray;

    --link-fg: rgb(41, 48, 90);

    --widget-primary-bg: #e2e2e2;
    --widget-primary-bg-hover: #b5b5b5;
    --widget-secondary-bg: #cccccc;
    --widget-primary-fg: #222222;


}

// Switch colors from light when user prefers dark color scheme
//@media (prefers-color-scheme: dark) { }


* {
    box-sizing: border-box;
    color: var(--primaryfg);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    background-color: var(--primary-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

a.animated {
    position: relative;
    z-index: 2 !important;
    transition: var(--transition);
    text-decoration: none;
}

a.animated::before {
    content: "";
    transition: var(--transition);
    position: absolute;
    z-index: 1 !important;
    $height: 2px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: $height;
    width: 0%;

    background-color: var(--link-fg);
}

a.animated:hover::before {
    color: var(--link-fg);
    width: 100%;
}
