// Set variables
:root {
    // General
    --transition: 150ms cubic-bezier(0.25, 0.5, 0.25, 1);
    --font: "Mukta", Cantarell, "Open Sans", sans-serif;
    --font-title: "Sen", var(--font);
    --font-titles: var(--font);
    --maximum-content-width: 850px;
    --global-border-radius: 10px;
    --default-bg-blur: 30px;
    --basewidth: 90%;
    --section-horizontal-padding: 20px;

    @media screen and (min-width: 1200px) {
        --maximum-content-width: 1000px;
    }

    // Colors
    --tint: 160;
    --accent-color: hsl(var(--tint), 52%, 17%);
    --accent-light: hsl(var(--tint), 52%, 20%);

    --critical: hsl(var(--tint), 23%, 25%);
    --critical-hover: hsl(var(--tint), 23%, 15%);
    --critical-fg: hsl(var(--tint), 23%, 70%);
    --critical-icon: hsl(var(--tint), 23%, 35%);
    --critical-button: hsl(var(--tint), 23%, 35%);
    --critical-button-hover: hsl(var(--tint), 23%, 45%);

    --gradient-start: hsl(130, 43%, 83%);
    --gradient-stop: hsl(170, 33%, 83%);

    --landing-bg: hsl(158, 28%, 60%);
    --landing-bg-alt: hsl(179, 25%, 62%);

    --landing-title: hsl(162, 33%, 15%);
    --landing-title-special: hsl(162, 51%, 27%);
    --landing-fg: hsla(0, 0%, 0%, 0.656);
    --landing-form-bg: hsl(0, 0%, 97%);
    --landing-form-bg-hover: hsla(0, 0%, 100%, 0.8);
    --landing-form-icon: hsl(172, 47%, 16%);
    --landing-form-fg: hsl(162, 33%, 30%);

    --primary-bg: hsl(0, 0%, 95%);
    --primary-fg: hsl(0, 0%, 7%);
    --secondary-bg: hsl(0, 0%, 84%);
    --secondary-fg: hsl(0, 0%, 21%);
    --bar-bg: hsla(0, 0%, 100%, 0.8);
    --bar-fg: hsl(0, 0%, 0%);
    --bar-icon: var(--bar-fg);
    --list-identifier: hsla(0, 0%, 0%, 0.3);

    --inverted-bg: hsl(0, 0%, 8%);
    --inverted-fg: hsl(0, 0%, 93%);
    --inverted-bg-hover: hsl(0, 0%, 36%);

    --positive-icon: hsl(120, 33%, 45%);
    --negative-icon: hsl(0, 58%, 58%);
    --neutral-icon: var(--widget-secondary-bg);

    --form-bg: hsl(0, 0%, 90%);
    --form-fg-alt: hsl(0, 0%, 54%);
    --form-disabled-bg: hsl(0, 0%, 80%);
    --form-disabled-fg: hsl(0, 0%, 72%);
    --form-disabled-img: hsl(0, 0%, 67%);
    --form-bg-hover: hsl(0, 0%, 85%);
    --form-icon: hsl(0, 0%, 72%);

    --form-primary: hsl(150, 29%, 36%);
    --form-primary-fg: hsl(0, 0%, 88%);
    --form-primary-icon: hsl(0, 0%, 58%);
    --form-primary-hover: hsl(150, 29%, 46%);
    --form-primary-disabled: hsl(150, 29%, 26%);

    --footer-bg: hsl(0, 0%, 90%);
    --footer-fg: hsl(0, 0%, 10%);
    --footer-link-mail: hsl(219, 47%, 32%);

    --link-fg: hsl(231, 37%, 26%);

    --widget-primary-bg: hsl(0, 0%, 91%);
    --widget-primary-bg-hover: hsl(0, 0%, 71%);
    --widget-secondary-bg: hsl(0, 0%, 83%);
    --widget-primary-fg: hsl(0, 0%, 13%);

    // Switch colors from light when user prefers dark color scheme
    @media (prefers-color-scheme: dark) {
        // Colors
        --tint: 160;
        --accent-color: hsl((--tint), 52%, 17%);
        --accent-light: hsl(var(--tint), 52%, 50%);

        --critical: hsl(var(--tint), 23%, 15%);
        --critical-hover: hsl(var(--tint), 23%, 18%);
        --critical-fg: hsl(var(--tint), 13%, 70%);
        --critical-fg-alt: hsl(var(--tint), 13%, 50%);
        --critical-icon: hsl(var(--tint), 23%, 35%);
        --critical-button: hsl(var(--tint), 23%, 23%);
        --critical-button-hover: hsl(var(--tint), 23%, 35%);

        --gradient-start: hsl(calc(var(--tint) + 60), 33%, 27%);
        --gradient-stop: hsl(var(--tint), 23%, 27%);
        --box-fg: hsl(0, 0%, 70%);

        --landing-bg: hsl(var(--tint), 0%, 4%);
        --landing-bg-alt: hsl(var(--tint), 35%, 20%);

        --landing-title-special: hsl(var(--tint), 33%, 60%);
        --landing-title-withspecial: hsl(var(--tint), 23%, 30%);
        --landing-title: hsl(var(--tint), 33%, 60%);
        --landing-fg: hsl(var(--tint), 10%, 75%);
        --landing-form-bg: hsl(0, 0%, 7%);
        --landing-form-bg-hover: hsl(0, 0%, 9%);
        --landing-form-icon: hsl(var(--tint), 20%, 45%);
        --landing-form-fg: hsl(0, 0%, 47%);

        --primary-bg: hsl(0, 0%, 5%);
        --primary-fg: hsl(0, 0%, 84%);
        --secondary-bg: hsl(0, 0%, 7%);
        --secondary-fg: hsl(0, 0%, 55%);
        --bar-bg: hsla(0, 0%, 0%, 0);
        --bar-fg: hsl(0, 0%, 75%);
        --bar-icon: var(--bar-fg);
        --list-identifier: hsla(var(--tint), 10%, 40%, 0.8);

        --inverted-bg: hsl(0, 0%, 0%);
        --inverted-fg: hsl(0, 0%, 60%);
        --inverted-bg-hover: hsl(0, 0%, 15%);

        --positive-icon: hsl(120, 33%, 45%);
        --negative-icon: hsl(0, 58%, 58%);
        --neutral-icon: var(--widget-secondary-bg);

        --form-bg: hsl(0, 0%, 12%);
        --form-fg: hsl(0, 0%, 76%);
        --form-fg-alt: hsl(148, 0%, 36%);
        --form-disabled-bg: hsl(0, 0%, 16%);
        --form-disabled-fg: hsl(0, 0%, 72%);
        --form-disabled-img: hsl(0, 0%, 67%);
        --form-bg-hover: hsl(0, 0%, 12%);
        --form-icon: hsl(0, 0%, 26%);
        --form-icon-hover: hsl(0, 0%, 46%);

        --form-primary: hsl(var(--tint), 29%, 20%);
        --form-primary-fg: hsl(var(--tint), 29%, 78%);
        --form-primary-hover: hsl(var(--tint), 29%, 26%);
        --form-primary-disabled: hsl(var(--tint), 29%, 26%);

        --footer-bg: hsl(var(--tint), 0%, 4%);
        --footer-fg: hsl(0, 0%, 34%);
        --footer-fg-titles: hsl(0, 0%, 54%);
        --footer-link-mail: hsl(158, 21%, 45%);

        --link-fg: hsl(231, 37%, 26%);

        --widget-primary-bg: hsl(var(--tint), 20%, 20%);
        --widget-primary-bg-hover: hsl(0, 0%, 15%);
        --widget-primary-fg: hsl(0, 0%, 77%);
        --widget-secondary-bg: hsl(0, 0%, 10%);
    }
    @media screen and (max-width: 700px) {
        --basewidth: 95%;
    }
}

* {
    box-sizing: border-box;
    color: var(--primaryfg);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    background-color: var(--primary-bg);

    animation: 200ms ease fadein;
}

a {
    transition: var(--transition);
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: dashed;
    }
}

input {
    font-family: var(--font);
}

.spinner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & svg {
        padding: 2px 0;
        animation: 1.2s infinite var(--transition) spinner;
    }
    &.light svg {
        color: var(--inverted-bg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
    }
    100% {
        opacity: 1;
    }
}

::selection,
::-moz-selection {
    color: var(--accent-light);
    background-color: hsla(var(--tint), 10%, 58%, 0.253);
}
