
.landing {
    height: 100vh;
    min-height: 800px;
    max-height: 1200px;

    background: var(--primary-bg) url(../public/images/primary-wallpaper.jpg);
    background-size: cover;
    background-position: bottom;

    position: relative;
    
    & .centerContainer {
        width: 100%;
        max-width: var(--maximum-content-width);
        height: 100%;

        display: flex;
        flex-direction: column;
        
        padding: 20px var(--section-horizontal-padding);
        gap: 50px;

        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

        & .header h2 {
            color: var(--accent-color);
        }

        & .fileUpload {
            background-color: var(--form-bg);
            transition: var(--transition);
            cursor: pointer;

            border: 1px solid var(--primary-fg);
            border-radius: var(--global-border-radius);
            padding: 70px 0;
            width: 80%;


            & .fileDescription {
                margin: 0;
                font-size: 1.25em;
                font-family: var(--font-titles);
            }

            & input[type=file] {
                display: none;
            }

            &:hover {
                background-color: var(--form-bg-hover);
            }

            @media screen and (max-width: 900px) {
                padding: 40px 0;
                & .fileDescription {
                    font-size: 1em;
                }
            }
            @media screen and (max-width: 600px) {
                width: 100%;
                padding: 20px 0;

                max-width: 400px;
                & .fileDescription {
                    font-size: 1em;
                }
            }
        }
    }
}

.highlights {
    width: 100%;
    padding: 100px var(--section-horizontal-padding) 50px;
    max-width: var(--maximum-content-width);
    margin: auto;

    & .list {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 70px 0 40px;
        gap: 40px;

        & .item {
            position: relative;
            & h2, p {
                position: relative;
                z-index: 2;
            }
            & .bgbox {
                position: absolute;
                border-radius: var(--global-border-radius);
                padding: 40px;
                overflow: hidden;
                background-color: var(--widget-primary-bg);
                z-index: 1 !important;
                transform: translate(-50%, -50%);

                &.i1 {
                    top: 50%;
                    left: 50%;
                }
                &.i2 {
                    top: 25%;
                    left: 10%;
                }
                &.i3 {
                    right: 50%;
                    top: 50%;
                }
            }
        }

        @media screen and (max-width: 900px) {
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}

.faq {
    width: 100%;
    padding: 50px var(--section-horizontal-padding);
    max-width: var(--maximum-content-width);
    margin: auto;

    & .list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;

        @media screen and (max-width: 900px) {
            gap: 20px;
            grid-template-columns: auto auto;
        }
        @media screen and (max-width: 600px) {
            grid-template-columns: auto;
        }
    }
}

.support { 
    border-radius: var(--global-border-radius);
    width: 100%;
    max-width: calc(var(--maximum-content-width) + 100px);
    padding: 50px 0;
    margin: 60px auto 80px;
    background: rgb(242,144,144) linear-gradient(250deg, rgb(255, 195, 195) 0%, rgb(255, 183, 218) 100%);

    & .content {
        max-width: var(--maximum-content-width);
        margin: auto;
        width: 100%;
        padding: 0 var(--section-horizontal-padding);
        & .links {
            margin-top: 45px;
            display: flex;
            gap: 10px;
            .button {
                transition: var(--transition);
                border-radius: 20px;
                color: var(--inverted-fg);
                cursor: pointer;
                font-size: 1.2em;
                background-color: var(--inverted-bg);
                padding: 3px 20px;
                &:hover {
                    background-color: var(--inverted-bg-hover);
                }
            }
        }
    }
}

.termscondensed {
    position: relative;
    width: 100%;
    padding: var(--section-horizontal-padding);
    max-width: var(--maximum-content-width);
    margin: 70px auto 40px;

    & .content {
        margin-top: 70px;

        $gap: 40px;
        display: grid;
        grid-template-columns: calc(50% - ($gap / 2)) calc(50% - ($gap / 2));
        gap: $gap;

        @media screen and (max-width: 800px) {
            grid-template-columns: auto;
        }

        & .terms {
            $padding: 20px;

            & h2.title {
                margin-left: $padding;
                font-family: var(--font-titles);
            }
            & p.desc, ul {
                color: var(--secondary-fg);
                background-color: var(--widget-primary-bg);
                border-radius: var(--global-border-radius);
                padding: $padding;
                font-family: var(--font-titles);
                font-size: 1.2em;
            }

            & ul { 
                display: grid;
                gap: 10px;
                padding-left: $padding;
                & li {
                    $identifierwidth: 10px;
                    position: relative;
                    list-style-type: none;
                    margin-left: calc($identifierwidth * 2);
                    &::before {
                        content: "";
                        position: absolute;
                        padding: 2px calc($identifierwidth / 2);
                        border-radius: var(--global-border-radius);
                        top: 10px;
                        left: 0 - calc($identifierwidth * 1.5 + 5px);
                        background: var(--list-identifier);
                    }
                }
            }
            
            & .tosnotice {
                color: var(--accent-color);
                padding: 0 10px;
            }
        }
    }
}

