.bar {
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(2px);
    background: var(--bar-bg);
    top: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    font-size: 1.1em;

    & .content {
        transition: var(--transition);
        display: flex;
        justify-content: space-between;
        width: var(--basewidth);
        max-width: calc(var(--maximum-content-width) + 100px);
        margin: auto;

        & .links {
            margin: 0 10px 0 auto;
            gap: 40px;
            display: flex;
            & a {
                color: var(--bar-fg);
            }
        }
        & .top {
            display: flex;
            justify-content: space-between;
        }

        & .logo {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 3px;
            justify-content: center;
            transform: rotate(45deg);
            & .first,
            .second,
            .third {
                width: 20px;
                border-radius: 99px;
                height: 4px;
                background-color: var(--bar-fg);
            }
            & .second {
                transform: translateX(-5px);
                background-color: #347381;
            }
        }

        & .menuicon {
            position: relative;
            cursor: pointer;
            & svg {
                color: var(--bar-icon);
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
            }
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        padding: 25px 20px;
        & .content {
            flex-direction: column;

            & .logo {
                & .first,
                .second,
                .third {
                    width: 15px;
                    height: 3px;
                }
            }
            & .links {
                gap: 5px;
                flex-direction: column;
                margin: 30px 0 0 0;
                align-items: center;
                justify-content: center;

                & .animated {
                    width: var(--basewidth);
                    padding: 3px 0px;
                    &::before {
                        display: none;
                    }
                }
            }

            & .menuicon {
                display: inherit;
            }
        }
    }
}

.header {
    max-width: 75%;
    & .title.primary {
        font-size: 2em;

        @media screen and (max-width: 900px) {
            font-size: 1.6em;
        }
    }

    @media screen and (max-width: 700px) {
        max-width: var(--basewidth);
    }
}

.footer {
    background-color: var(--footer-bg);
    width: 100%;
    padding: 60px var(--section-horizontal-padding);
    margin: 0 auto;

    & .content {
        color: var(--footer-fg);
        width: 100%;
        max-width: var(--maximum-content-width);
        margin: auto;
    }
    & .header {
        margin-bottom: 30px;
    }
    & h1,
    h2 {
        color: var(--footer-fg-titles);
    }
    & .links {
        display: grid;
        grid-template-columns: auto auto;

        & .linksContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .linkwithlabel {
                display: flex;
                gap: 7px;
                align-items: center;

                & span {
                    margin: 0;
                    padding: 0;
                    font-size: 1.3em;
                    color: var(--footer-fg);
                }

                a.mail {
                    color: var(--footer-link-mail);
                }
            }
            a {
                font-size: 1.2em;
            }
        }

        & .legal {
            text-align: right;
            width: var(--basewidth);
            align-items: flex-end;
            & a {
                width: fit-content;
            }
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: auto;
            gap: 30px;

            & .linksContainer {
                font-size: 0.9rem;
            }

            & .legal {
                align-items: flex-start;
            }
        }
    }
}
