.bar {
    display: flex;
    position: fixed;
    z-index: 10;

    backdrop-filter: blur(3px);
    width: 100%;
    padding: 10px;
    display: flex;
    font-size: 1.1em;

    & .content {
        display: flex;
        width: 100%;
        max-width: calc(var(--maximum-content-width) + 200px);
        margin: auto;

        & span {
            margin: 0 auto 0 30px;
        }

        & .links {
            margin: 0 30px 0 auto;
            gap: 40px;
            display: flex;

            & .link {
            }
        }
    }
}


.header {
    max-width: 75%;
    & .title.primary {
        font-size: 2em;
    }
}

.footer {
    background-color: var(--footer-bg);
    width: 100%;
    padding: 60px var(--section-horizontal-padding);
    margin: 90px auto 0;

    & .content {
        width: 100%;
        max-width: var(--maximum-content-width);
        margin: auto;
    }
    & .header {
        margin-bottom: 30px;
    }
    & .links {
        display: grid;
        grid-template-columns: auto auto;

        & .linksContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .linkwithlabel {
                display: flex;
                gap: 7px;

                & span {
                    margin: 0;
                    padding: 0;
                    font-size: 1.4em;
                    color: var(--footer-fg);
                }

                a.mail {
                    color: var(--footer-link-mail);
                }
            }
            a {
                font-size: 1.2em;
                margin-top: 4px;
            }
        }

        & .legal {
            text-align: right;
            width: 100%;
            align-items: flex-end;
            & a {
                width: fit-content;
                
            }
        }
    }
}