.bar {
    position: fixed;
    z-index: 10;
    background-color: rgba(214, 214, 214, 0);
    backdrop-filter: blur(3px);
    width: 100%;
    padding: 10px 20px;
    display: flex;
    font-size: 1.1em;

    & .content {
        transition: var(--transition);
        display: flex;
        width: var(--basewidth);
        max-width: calc(var(--maximum-content-width) + 100px);
        margin: auto;

        & .links {
            margin: 0 10px 0 auto;
            gap: 30px;
            display: flex;
        }

        & .top {
            display: flex;
            justify-content: space-between;
        }

        & .menuicon {
            position: relative;
            cursor: pointer;
            & svg {
                position: absolute;
                top: 50%;
                right: 0px;
                transform: translateY(-50%);
            }
            display: none;
        }
    }
    @media screen and (max-width: 650px) {
        background-color: var(--primary-bg);

        & .content {
            flex-direction: column;
            & a {
                float: left;
                margin: 0;
            }
            & .links {
                gap: 5px;
                flex-direction: column;
                margin: 20px 0 0 0;
                align-items: center;
                justify-content: center;

                & .animated {
                    width: var(--basewidth);
                    padding: 2px 10px;
                    background-color: var(--widget-primary-bg);
                    border-radius: var(--global-border-radius);
                    &::before {
                        display: none;
                    }
                }
            }

            & .menuicon {
                display: inherit;
            }
        }
    }
}


.header {
    max-width: 75%;
    & .title.primary {
        font-size: 2em;

        @media screen and (max-width: 900px) {
            font-size: 1.6em;
        }
    }


    @media screen and (max-width: 700px) {
        max-width: var(--basewidth);
    }
}

.footer {
    background-color: var(--footer-bg);
    width: 100%;
    padding: 60px var(--section-horizontal-padding);
    margin: 0 auto;

    & .content {
        width: 100%;
        max-width: var(--maximum-content-width);
        margin: auto;
    }
    & .header {
        margin-bottom: 30px;
    }
    & .links {
        display: grid;
        grid-template-columns: auto auto;

        & .linksContainer {
            display: flex;
            flex-direction: column;
            gap: 5px;

            & .linkwithlabel {
                display: flex;
                gap: 7px;
                align-items: center;

                & span {
                    margin: 0;
                    padding: 0;
                    font-size: 1.3em;
                    color: var(--footer-fg);
                }

                a.mail {
                    color: var(--footer-link-mail);
                }
            }
            a {
                font-size: 1.2em;
            }
        }

        & .legal {
            text-align: right;
            width: var(--basewidth);
            align-items: flex-end;
            & a {
                width: fit-content;
                
            }
        }

        @media screen and (max-width: 700px) {
            grid-template-columns: auto;
            gap: 30px;
            
            & .linksContainer .linkwithlabel span {
                font-size: 1.2rem;
            }

            & .legal {
                align-items: flex-start;
            }
        }

    }
}