.title {
    margin: 5px 0;
    font-family: var(--font-titles);
    &.big {
        font-size: 2em;
    }
}

.description {
    font-weight: 400;
    color: var(--secondary-fg);
    font-size: 1.15rem !important;
    
    &.small {
        font-family: var(--font);
        font-size: 1rem;
    }
    &.nomargin {
        margin: 0;
    }
}


@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5rem;
        &.title.primary {
            font-size: 1.5rem !important;
        }
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1.05rem;
        &.title.primary {
            font-size: 1.05rem !important;
        }
    }

    .description.small {
        font-size: 1rem;
    }
}

.special {
    color: var(--accent-color);
}