* {
    font-weight: 400;
}

.title {
    margin: 5px 0;
    font-family: var(--font-titles);
    font-weight: 500;
    
    &.big {
        font-weight: 700;
        font-size: 2.3em;
    }

    @media screen and (max-width: 700px) {
        font-size: 1.3em;
        &.primary {
            font-size: 2rem;
        }
        &.big {
            font-size: 1.9em;
        }
    }
}


.description {
    font-weight: 400;
    color: var(--secondary-fg);

    font-size: 1.2em;

    &.small {
        font-family: var(--font);
        font-size: 1.1em;
    }
    @media screen and (max-width: 700px) {
        font-size: 1.25em;
        &.small {
            font-size: 1em;
        }
    }
}

.special {
    color: var(--accent-color);
}